// TYPOGRAPHY
$fontPrimary: 'Lato', Arial, sans-serif;

$gray: #666;

$dark: #000;
$dark3: #333;
$darkBtn: #242f3a;

$lightGray: #f7f7f7;
$gray92: #929292;

$white: #fff;

$default: #535353;
$borderColor: rgba(0, 0, 0, 0.12);

